<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zju.cst.mapper.CompanyDimMapper" >
	<resultMap type="String" id="companyName">  
     	<id property="id" column="id"/>
     	<result property="apply_number" column="apply_number"/>  
     	<result property="company_name" column="company_name"/>  
   </resultMap>
	<select id="getCompanyById" parameterType="int" resultType="edu.zju.cst.beans.CompanyDim">
	select * from company_dim where id=#{id}
	</select>
	<select id="getCompanyList"  resultType="String" >   
     SELECT company_name FROM company_dim GROUP BY company_name ORDER BY COUNT(company_name) DESC
  </select>
</mapper>