<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
	<mappers>
		<mapper resource="edu/zju/cst/mapper/PatentMapper.xml"/>
		<mapper resource="edu/zju/cst/mapper/CompanyDimMapper.xml"/>
		<mapper resource="edu/zju/cst/mapper/DateDimMapper.xml"/>
		<mapper resource="edu/zju/cst/mapper/GroupDimMapper.xml"/>
		<mapper resource="edu/zju/cst/mapper/PeopleDimMapper.xml"/>
	</mappers>
</configuration>